html {
  background-image: url("http://localhost:1337/uploads/dark_grunge_texture_ac80e1053e.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 0;
  padding-bottom: 100px;
}
