.banner {
    margin: 0;
    font-size: 27px;
    font-weight: bolder;
}

.text {
    margin: 5px 0;
    font-size: 15px;
    font-weight: normal;
}

.contentWithoutImage {
    width: 920px;
    margin: 15px auto 0;
    padding: 5px 20px 5px 20px;
    color: #232323;
    background-color: #FDC609;
    font-family: verdana, Arial, Helvetica, sans-serif;
}

.contentWithImage {
    padding: 15px 0 0px 0;
    display: flex;
    width: 960px;
    margin: 0 auto;
}

.contentWithImageContent {
    margin: 0 0 0 5px;
    padding: 12px 0 0 12px;
    background-color: #FDC609;
    font-family: verdana, Arial, Helvetica, sans-serif;
}

.picture {
    object-fit: contain;
    object-position: center center;
}

.gameInfo {
    padding-bottom: 4px
}

.GM {
    font-size: 18px;
    padding-bottom: 4px
}

.emptypageText{
  width: 920px;
  margin: 0 auto;
  color: #DBDBDB;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px 0;
  font-size: 25px;
}

@media (max-width: 480px) {
  .banner {
    font-size: 30px;
  }

  .text {
    font-size: 22px;
  }

  .GM {
    font-size: 25px;
  }

  .emptypageText {
  font-size: 35px;
  padding-left: 10px;
  }
}

@media (min-width: 481px) and (max-width: 700px) {  
  .banner {
    font-size: 30px;
  }

  .text {
    font-size: 20px;
  }

  .GM {
    font-size: 23px;
  }

  .emptypageText {
    font-size: 30px;
    padding-left: 10px;
    }
}
  
