.heading {
    width: 920px;
    margin: 0 auto;
    padding: 120px 20px 0px 20px;
    color: #DBDBDB;
    font-size: 35px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

@media (max-width: 480px) { 
  .heading {
    padding: 170px 20px 0 20px;
    font-size: 40px;
  }
}

@media (min-width: 481px) and (max-width: 700px) {
    .heading {
      padding: 150px 20px 0 20px;
      font-size: 40px;
    }
  }
  
